$totalGreen: #118a0a;

@mixin absolutebottom{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.content{
  @include primarysetup;
  display: flex;
  justify-content: space-between;
  input{
    padding: 5px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid $colorprimary;
    color: $colorprimary;
  }
  .contentMainSection{
    min-width: 40%;
    padding: 15px;
    .iconsWrapper{
      width: 128px;
      margin: 0 auto;
      position: relative;
      cursor: pointer;
      .fa{
        font-size: 8rem;
      }
      .mask{
        @include absolutebottom;
        overflow: hidden;
        height: 0;
        @include transitionsetup(height, 500ms);
        .hovered{
          @include absolutebottom;
          margin: auto;
          font-size: 8rem;
          color: $colorsecondary;
        }
      }
      &:hover{
        .mask{
          height: 113px;
        }
      }
      .drinkText {
          position: absolute;
          z-index: 1;
          left: 0;
          right: 0;
          font-family: $fontheaders;
          top: 15px;
      }
    }
    .totalWrapper{
      .total{
        font-family: $fontheaders;
        font-weight: normal;
        &.green{
          color: $totalGreen;
        }
      }
    }
  }
  .contentRightSection{
    min-width: 40%;
    padding: 15px;
    text-align: justify;
    .drinkRecordList{
      padding: 0;
      list-style: none;
      li{
        &:before{
          content: '>';
          margin-right: 10px;
          color: $colorsecondary;
        }
      }
    }
  }
}
