$colorprimary: #192548;
$colorsecondary: #42b3ec;
$mainbgcolor: #d7e7f5;
$font: 'PT Sans', 'Arial', sans-serif;
$fontheaders: 'Oswald', sans-serif;

@mixin primarysetup{
  color: $colorprimary;
  font-family: $font;
  text-align: center;
  padding: 15px;
  max-width: 960px;
  margin: 0 auto;
}

@mixin transitionsetup($prop, $time){
  -webkit-transition: $prop $time ease-in-out;
  -moz-transition: $prop $time ease-in-out;
  -ms-transition: $prop $time ease-in-out;
  -o-transition: $prop $time ease-in-out;
  transition: $prop $time ease-in-out;
}


html, body{
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  margin:0;
  background: $mainbgcolor;
}

*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  font: $fontheaders 500;
  text-transform: uppercase;
}


@import 'header';
@import 'content';
